<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Music Genre Classifier</title>
</head>
<body>
    <main>
        <h1>Music Genre Classification</h1>
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <label for="file">Upload Audio Features (CSV):</label>
            <input type="file" id="file" name="file" accept=".csv" required>
            <button type="submit">Predict Genre</button>
        </form>
    </main>

</body>

</html>